*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size:1vw;
}
body{
    background-color: black;
    font-family: sans-serif;
    color:white; 
}
nav{
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* flex-direction:column ; */
    position:absolute;
    width: 100vw;
    }
nav ul{
    list-style-type:none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:2rem

}
nav h2{
    font-size: 1.5rem;
}
nav ul li{
    font-size: 1.3rem;
}
main{
    height:100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url(https://pngmagic.com/webp_images/exquisite-3d-nature-wallpaper-with-close-up-views-of-wildlife_r8n.webp);
    background-position: center;
    background-size: cover;
    /* gap: 1rem; */
}
#Content{
        background-color: rgba(0, 0, 0, 0.336);
        border-radius: 30px;
        padding:5rem ;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }
#Content h1{
    font-size: 5rem;
    margin-bottom: 1rem;
}   
#Content h3{
    font-size: 2.7rem;
    margin-bottom: 1rem;
    color:rgb(255,123,0);
}  
#Content p{
    font-size: 1.2rem;
    margin-bottom: 1rem;
    color:lightgray;
    text-align: center;
} 
#Content button{
    padding:0.75rem 1.25rem;
    border: none;
    background-color:rgb(255,123,0); 
    color: white;
    border-radius: 30px;
}
@media screen and (max-width:1068px) {
   *{
    font-size:10px;
   }  
}   