*{
    margin:0;
    padding:0;
    box-sizing:border-box
}
body{
    font-family: sans-serif;
    background-color: #f9f9f9;
    color:#333;
}
main{
    height:98vh;
    margin:5px;
    border:5px solid red;
    display :grid;/* parent pr spread ho gya height wise*/
    /* padding:10px;
    gap:10px; */
    /*grid-template-columns: 100px 100px 100px 100px; /* 4 row bn jaege 100px ki*/
    /* grid-template-columns: 100px 600px 100px;/* 3 row bn jaegee (100px,600px,100 ye column h) */
   /* grid-template-columns:1fr 1fr ;/*1 fr mtlb 1 bar equal space or 2 baar 1fr mtlb 2 equal part (fr->fraction)*/
    /*grid-template-columns:1fr 2fr ;/* toatal 3 fraction firth 1  or dusra 2 ki size(double) */
  /* grid-template-columns:repeat(3,1fr)/* 3 times 1 fr*/ ;
   grid-template-columns:repeat(auto-fit,minmax(300px,1fr))/*auto fit min 300px ormax 1fr jb skin choti hogi to bhi adjust ho jaega border kt jaegi pr chta nhi hoga box jitnah ussse*/ ;
   /*grid-template-rows:repeat(5,1fr);/* 3 times 1 fr*/ ;
    
}
.Box{
    background-color: teal;
    color: white;
    font: 30px;
    align-items: center;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*.Box:first-child{
 /*   background-color: rgb(238, 27, 115);
  /*  grid-column: 1/3;/* jitne lekhte h usse ek km tk aata h 3 lekha h  2 tk aaega*/
   /* grid-column: 1/4;/* jitne lekhte h usse ek km tk aata h 3 lekha h  2 tk aaega*/
/*}
.Box:nth-child(4){
  /*  background-color: rgb(238, 27, 115);
  /*  grid-column: 2;/* 3 vale column prtha 2 vale pr chale jao uski jaagah khali reh jaati h flex se ek dimension control hote h  or grid se ek sath do dimension hoti h,/
  /* /* grid-row: 4/6;/* 4th vale se start kro or 6th jao(/->khase kha tk)*/
  /*  }
  /*  .Box:nth-child(10){
  /*      background-color:rgb(238, 27, 115);
  /*  grid-column: 3;/*column 3rd*/
  /*  grid-row: 4/6;/* 4th vale se start kro or 6th jao(/->khase kha tk)*/
  /*  }